# Datasets and generated image folders
CUB_200_2011/
CUB_200_2011.tgz
src/CUB_200_2011_cropped_square/

# Model checkpoints and trained weights
*.pt
*.pth
*.ckpt


# Python and notebook caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/
src/__pycache__/
src/baseline_model/__pycache__/
src/data_preprocessing/__pycache__/
src/model_examination/__pycache__/
src/primary_model/__pycache__/

# Notebooks and course/report artifacts
*.ipynb
latex documents for course/

# OS/editor clutter
.DS_Store
Thumbs.db
.vscode/
.idea/

# ignore init attempt and testing log and checkpoints
checkpoints/
testing_logs/
.gitignore
produced_visuals/
project_documents/

# ignore all the training curves etc
*.png
*.txt


# ignore readme temporarily
README.md